@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.otf') format('opentype'); 
  
  }
  
  
  
  
  
  
  
  :root {
      --bg: #0d0d0d; 
      --text:  #a8a9ad;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  html {
    font-size: calc(100vw / 1512 * 10);
    
  }
  
  body {
    font-family: 'Neue Montreal';
    font-weight: 200;
    font-size: medium;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    width: 100vw;
    height: 100vh;   
    overscroll-behavior: contain;
  }
  
  
  ::-webkit-scrollbar{
    width: 0;
  }
  
  
  ::selection{
    background-color: #d8cabd;
    color: #111;
  }


  .navigation{
    z-index: 50000;
    position: fixed;
    top: 35px ;
    left: 35px;
    transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  }


.navigation a{
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    animation: fade-up 0.7s ease forwards;


}


.link1:hover,.link3:hover{
    opacity: 0.4;
}



  
.link1{
    opacity: 1;
    transition: opacity 0.3s ;
    cursor: pointer;
}

.link2,.link3{
    opacity: 0.5;
transition: opacity 0.3s;

}


@keyframes fade-up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}





@keyframes move {
    from {
        transform: translateY(20%);
        scale: 0.7;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: none;
    z-index:  99999;
    animation: fade 0.7s ease forwards;
}

@keyframes fade{
    from{
        opacity: 0;
    }
}


  
