@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.otf') format('opentype'); 
  
  }
  
  
  
  
  
  
  
  :root {
      --bg: #0d0d0d; 
      --text:  #a8a9ad;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  html {
    font-size: calc(100vw / 1512 * 10);
    
  }
  
  body {
    font-family: 'Neue Montreal';
    font-weight: 200;
    font-size: medium;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    width: 100vw;
    height: 100vh;   
    overscroll-behavior: contain;
  }
  
  
  ::-webkit-scrollbar{
    width: 0;
  }
  
  
  ::selection{
    background-color: #d8cabd;
    color: #111;
  }

  
  .slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    animation: move 1.5s ease forwards;
    scale: 0.7;
    opacity: 0;
  }


  @keyframes move{
    from{
        transform: translateY(20%);
        scale: 0.7;
        opacity: 0;
    }

    to{
        scale: 1;
        opacity: 1;
    }
}

.navigation{
    z-index: 50000;
    position: fixed;
    top: 35px ;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 9vw;
  display: flex;
  justify-content: space-between;
  }


.navigation a{
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    animation: fade-up 1.2s 1s ease forwards;

}


.link2:hover,.link3:hover{
    opacity: 1;
}



  
.link1{
    opacity: 1;
}

.link2,.link3{
    opacity: 0.5;
transition: opacity 0.3s;
}


@keyframes fade-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}


  


    .slide {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0 100%,100% 100%, 100% 100%, 0 100%);
    }

    #slide-1 {
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: move2 1.4s  ease forwards;
            scale: 1.7;
        }
      
      
        @keyframes move2{
            from{
                scale: 1.7;
            }

            to{
                scale: 1;
            }
        }


        .slider-content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 5000;
            overflow: hidden;
            opacity: 0;
            animation: cool 1.3s 0.8s ease forwards;
        }

        @keyframes cool{
            from{
                opacity: 0;
            }

            to {
                opacity: 1;
            }
            }



        .slide-number{
        position: absolute;
        top: 102%;
        left: 50%;
         transform: translate(-50%, -50%);
        display: flex;


    }

    .postfix span {
        padding-right: 0.35em;
        padding-left: 0.45em;

    }
        .slide-name {
        position: absolute;
        top: 55%;
        left: 30%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        }  
        .slide-year {
        position: absolute;
        top: 55%;
        right: 20%;
        transform: translate(-50%, -50%);
     
        }

.slide-number,
.slide-name,
.slide-year {
font-size: 18px;

line-height: 30px;
clip-path: polygon(0 0,100% 0,100% 30px, 0 30px);
}


.cursor {
    position: fixed;
    background: #e9e9e95c;
  backdrop-filter: blur(2px);
    width: 69px;
    height: 36px;
    border-radius: 32px;
    z-index: 10000;
    transition: 0.3s  transform,    0.2s  opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vh;
    letter-spacing: -5%;
    transition: transform translate 0.3s;
    pointer-events: none;
    border: 1px solid #666;
    backdrop-filter: blur(9px);
   
  }
  
  .cursor p{
    text-align: center;
    font-family: sf pro text;
    color: var(--bg);
    font-weight: 400;
    font-size: small;
  
  }
  
  
  
  .cursor.active {
    opacity: 1;
    transform: scale(1);
  }
  
  .cursor.active::before {
    opacity: 1;
  }